# Read Bar Properties

```
mqsireadbar -b {{application}}.bar -r

```

# Override Bar Properties

```
mqsiapplybaroverride -k {{application}} -b {{application}}.bar -p {{application}}.BASE.override.properties

```
