# Read Bar Properties

```
mqsireadbar -b {{application.name}}.bar -r

```

# Override Bar Properties

```
mqsiapplybaroverride -k {{application.name}} -b {{application.name}}.bar -p {{application.name}}.BASE.override.properties

```
