# Read Bar Properties

```
mqsireadbar -b {{APPLICATION_NAME}}.bar -r

```

# Override Bar Properties

```
mqsiapplybaroverride -k {{APPLICATION_NAME}} -b {{APPLICATION_NAME}}.bar -p {{APPLICATION_NAME}}.BASE.override.properties

```
