# ================ {{nodeName}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.topicName = {{topicName}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.bootstrapServers = {{bootstrapServers}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.groupId = ESED_CG_001_{{name}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.initialOffset = latest
{{brokerSchema}}.{{flowName}}#{{nodeName}}.enableAutoCommit = true
{{brokerSchema}}.{{flowName}}#{{nodeName}}.clientId = edis_consumer
{{brokerSchema}}.{{flowName}}#{{nodeName}}.useClientIdSuffix = true
{{brokerSchema}}.{{flowName}}#{{nodeName}}.connectionTimeout = 15
{{brokerSchema}}.{{flowName}}#{{nodeName}}.sessionTimeout = 10
{{brokerSchema}}.{{flowName}}#{{nodeName}}.receiveBatchSize = 1
{{brokerSchema}}.{{flowName}}#{{nodeName}}.securityProtocol = SSL
{{brokerSchema}}.{{flowName}}#{{nodeName}}.sslProtocol = TLSv1.2
{{brokerSchema}}.{{flowName}}#{{nodeName}}.validateMaster = none
{{brokerSchema}}.{{flowName}}#{{nodeName}}.componentLevel = flow
{{brokerSchema}}.{{flowName}}#{{nodeName}}.additionalInstances = 0