{{brokerSchema}}.{{flow}}#KafkaConsumer.topicName = {{inboundTopicName}}
{{brokerSchema}}.{{flow}}#KafkaConsumer.bootstrapServers = dgv0137c6.safeway.com:9093,dgv0137be.safeway.com:9093,dgv0137c0.safeway.com:9093
{{brokerSchema}}.{{flow}}#KafkaConsumer.groupId = {{boPrefix}}_consumer_group
{{brokerSchema}}.{{flow}}#KafkaConsumer.initialOffset = latest
{{brokerSchema}}.{{flow}}#KafkaConsumer.enableAutoCommit = true
{{brokerSchema}}.{{flow}}#KafkaConsumer.clientId = {{boPrefix}}_consumer
{{brokerSchema}}.{{flow}}#KafkaConsumer.useClientIdSuffix = true
{{brokerSchema}}.{{flow}}#KafkaConsumer.connectionTimeout = 15
{{brokerSchema}}.{{flow}}#KafkaConsumer.sessionTimeout = 10
{{brokerSchema}}.{{flow}}#KafkaConsumer.receiveBatchSize = 1
{{brokerSchema}}.{{flow}}#KafkaConsumer.securityProtocol = SSL
{{brokerSchema}}.{{flow}}#KafkaConsumer.sslProtocol = TLSv1.2
{{brokerSchema}}.{{flow}}#KafkaConsumer.validateMaster = none
{{brokerSchema}}.{{flow}}#KafkaConsumer.componentLevel = flow
{{brokerSchema}}.{{flow}}#KafkaConsumer.additionalInstances = 0
{{brokerSchema}}.{{flow}}#KafkaProducer.topicName = {{outboundTopicName}}
{{brokerSchema}}.{{flow}}#KafkaProducer.bootstrapServers = dgv0137c6.safeway.com:9093,dgv0137be.safeway.com:9093,dgv0137c0.safeway.com:9093
{{brokerSchema}}.{{flow}}#KafkaProducer.clientId = {{boPrefix}}_producer
{{brokerSchema}}.{{flow}}#KafkaProducer.useClientIdSuffix = true
{{brokerSchema}}.{{flow}}#KafkaProducer.acks = 1
{{brokerSchema}}.{{flow}}#KafkaProducer.timeout = 60
{{brokerSchema}}.{{flow}}#KafkaProducer.securityProtocol = SSL
{{brokerSchema}}.{{flow}}#KafkaProducer.sslProtocol = TLSv1.2
{{brokerSchema}}.{{flow}}#KafkaProducer.validateMaster = inherit
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.APPLICATION_NAME = {{application}}
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.APPLICATION_DESC = Transform Json to Canonical Message and Publish to Kafka
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.BO_NAME = {{boName}}
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.COMPONENT_DESC = {{application}}
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.COMPONENT_TYPE = PF
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.COMPONENT_INPUT_TYPE = KAFKA
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.SOURCE_SYSTEM_NAME = {{sourceSystem}}
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.AUDIT_REQD = Y
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.AUDIT_SRC_UNQ_ID = Y
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.PATH_SRC_UNQ_ID = {{srcIdPath}}
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.AUDIT_TRGT_UNQ_ID = Y
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.PATH_TRGT_UNQ_ID = InputRoot.MQRFH2.psc.uniqId
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.VALIDATION_REQD_SOURCE = N
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.VALIDATION_REQD_TARGET = N
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.STORE_SRC_MSG = Y
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.STORE_TRGT_MSG = Y
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.COMPONENT_INPUT_NAME = {{inboundTopicName}}
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.queueName = ESEDDV.AUDIT.MSG
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.AUDIT_MDL_UNQ_ID = Y
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.PATH_MDL_UNQ_ID = InputRoot.MQRFH2.psc.uniqId
{{brokerSchema}}.{{flow}}#Audit_Validate_Input.STORE_MDL_MSG = Y
{{brokerSchema}}.{{flow}}#Audit_Validate_Output.queueName = ESEDDV.AUDIT.MSG
{{brokerSchema}}.{{flow}}#ExceptionSubFlow.HOSTNAME = IIBDV
{{brokerSchema}}.{{flow}}#ExceptionSubFlow.STOREMSG = Y
{{brokerSchema}}.{{flow}}#ExceptionSubFlow.APPLICATIONNAME = {{application}}
{{brokerSchema}}.{{flow}}#ExceptionSubFlow.BONAME = {{boName}}
{{brokerSchema}}.{{flow}}#ExceptionSubFlow.INPUTTYPE = KAFKA
{{brokerSchema}}.{{flow}}#ExceptionSubFlow.INPUTNAME = {{inboundTopicName}}
{{brokerSchema}}.{{flow}}#ExceptionSubFlow.REPLAYRULE = N
{{brokerSchema}}.{{flow}}#ExceptionSubFlow.MAXREPLAYCOUNT = 3
{{brokerSchema}}.{{flow}}#ExceptionSubFlow.COMPONENTNAME = {{inboundTopicName}}
{{brokerSchema}}.{{flow}}#ExceptionSubFlow.queueName = ESEDDV.EXCEPTION.MSG
{{brokerSchema}}.{{flow}}#{{transformerSubflow}}.VERSION_ID = {{version}}
{{brokerSchema}}.{{flow}}#{{transformerSubflow}}.SYSTEM_ENVIRONMENT_CODE = DV