com.abs.cmnflows.WebServiceResponseValidator#ResponseValidator.dataSource
com.abs.cmnflows.WebServiceResponseValidator#ResponseValidator.connectDatasourceBeforeFlowStarts
com.abs.cmnflows.WebServiceResponseValidator#ResponseValidator.validateMaster

com.abs.cmnflows.Audit_Validate_Input#APPLICATION_NAME = {{application.name}}
com.abs.cmnflows.Audit_Validate_Input#APPLICATION_DESC = {{application.name}}
com.abs.cmnflows.Audit_Validate_Input#BO_NAME = {{application.project}}
com.abs.cmnflows.Audit_Validate_Input#COMPONENT_DESC = {{application.name}}
com.abs.cmnflows.Audit_Validate_Input#COMPONENT_TYPE = PF
com.abs.cmnflows.Audit_Validate_Input#COMPONENT_INPUT_TYPE = KAFKA
com.abs.cmnflows.Audit_Validate_Input#SOURCE_SYSTEM_NAME = {{application.source}}
com.abs.cmnflows.Audit_Validate_Input#AUDIT_REQD = Y
com.abs.cmnflows.Audit_Validate_Input#AUDIT_SRC_UNQ_ID = Y
com.abs.cmnflows.Audit_Validate_Input#PATH_SRC_UNQ_ID = CURRENT_TIMESTAMP
com.abs.cmnflows.Audit_Validate_Input#AUDIT_TRGT_UNQ_ID = Y
com.abs.cmnflows.Audit_Validate_Input#PATH_TRGT_UNQ_ID = InputRoot.JSON.Data.orderNumber
com.abs.cmnflows.Audit_Validate_Input#VALIDATION_REQD_SOURCE = N
com.abs.cmnflows.Audit_Validate_Input#VALIDATION_REQD_TARGET = N
com.abs.cmnflows.Audit_Validate_Input#STORE_SRC_MSG = Y
com.abs.cmnflows.Audit_Validate_Input#STORE_TRGT_MSG = N
com.abs.cmnflows.Audit_Validate_Input#COMPONENT_INPUT_NAME = {{kafkaConsumer.topicName}}
com.abs.cmnflows.Audit_Validate_Input#queueName = ESEDQA.AUDIT.MSG
com.abs.cmnflows.Audit_Validate_Input#AUDIT_MDL_UNQ_ID = Y
com.abs.cmnflows.Audit_Validate_Input#PATH_MDL_UNQ_ID = InputRoot.MQRFH2.psc.uniqId
com.abs.cmnflows.Audit_Validate_Input#STORE_MDL_MSG = Y
com.abs.cmnflows.Audit_Validate_Input#Input_Audit_Compute.dataSource
com.abs.cmnflows.Audit_Validate_Input#Input_Audit_Compute.connectDatasourceBeforeFlowStarts
com.abs.cmnflows.Audit_Validate_Input#Input_Audit_Compute.validateMaster
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.connection
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.destinationQueueManagerName
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.queueManagerHostname
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.listenerPortNumber
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.channelName
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.securityIdentity
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.useSSL
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.SSLPeerName
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.SSLCipherSpec
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.queueManagerName
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.replyToQMgr
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.replyToQ
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.validateMaster
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.securityProfileName
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.policyUrl
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.AddRequestToGroup
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.GroupRequestFolderName
com.abs.cmnflows.Audit_Validate_Input#EDIS.AUDIT.MSG.GroupRequestTimeout
com.abs.cmnflows.Audit_Validate_Input#Validate.validateMaster = contentAndValue

com.abs.cmnflows.Audit_Middle#queueName = EDIS.AUDIT.MSG
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.connection
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.destinationQueueManagerName
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.queueManagerHostname
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.listenerPortNumber
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.channelName
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.securityIdentity
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.useSSL
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.SSLPeerName
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.SSLCipherSpec
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.queueManagerName
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.replyToQMgr
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.replyToQ
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.validateMaster
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.securityProfileName
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.policyUrl
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.AddRequestToGroup
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.GroupRequestFolderName
com.abs.cmnflows.Audit_Middle#EDIS.AUDIT.MSG.GroupRequestTimeout
com.abs.cmnflows.Audit_Middle#Middle_Audit_Compute.dataSource
com.abs.cmnflows.Audit_Middle#Middle_Audit_Compute.connectDatasourceBeforeFlowStarts
com.abs.cmnflows.Audit_Middle#Middle_Audit_Compute.validateMaster

com.abs.cmnflows.RetryValidate_Exception#retry_Max_Count = 3
com.abs.cmnflows.RetryValidate_Exception#retry_Time_Interval = 180
com.abs.cmnflows.RetryValidate_Exception#retryQueueName = ESEDDV.WEBSERVICE.RETRY.MSG
com.abs.cmnflows.RetryValidate_Exception#APPLICATIONNAME = SAMPLE_APPLICATION
com.abs.cmnflows.RetryValidate_Exception#BONAME = SAMPLE
com.abs.cmnflows.RetryValidate_Exception#COMPONENTNAME = SAMPLE_MF
com.abs.cmnflows.RetryValidate_Exception#HOSTNAME
com.abs.cmnflows.RetryValidate_Exception#INPUTNAME = SAMPLE_APPLICATION_IN
com.abs.cmnflows.RetryValidate_Exception#INPUTTYPE = WMQ
com.abs.cmnflows.RetryValidate_Exception#MAXREPLAYCOUNT = 3
com.abs.cmnflows.RetryValidate_Exception#queueName = EDIS.EXCEPTION.MSG
com.abs.cmnflows.RetryValidate_Exception#REPLAYRULE = Y
com.abs.cmnflows.RetryValidate_Exception#STOREMSG = Y
com.abs.cmnflows.RetryValidate_Exception#queueName1 = EDIS.EXCEPTION.MSG
com.abs.cmnflows.RetryValidate_Exception#APPLICATIONNAME1
com.abs.cmnflows.RetryValidate_Exception#BONAME1
com.abs.cmnflows.RetryValidate_Exception#COMPONENTNAME1
com.abs.cmnflows.RetryValidate_Exception#HOSTNAME1
com.abs.cmnflows.RetryValidate_Exception#INPUTNAME1
com.abs.cmnflows.RetryValidate_Exception#INPUTTYPE1
com.abs.cmnflows.RetryValidate_Exception#MAXREPLAYCOUNT1
com.abs.cmnflows.RetryValidate_Exception#REPLAYRULE1
com.abs.cmnflows.RetryValidate_Exception#STOREMSG1
com.abs.cmnflows.RetryValidate_Exception#retryValidate_Exception.dataSource
com.abs.cmnflows.RetryValidate_Exception#retryValidate_Exception.connectDatasourceBeforeFlowStarts
com.abs.cmnflows.RetryValidate_Exception#retryValidate_Exception.validateMaster
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.connection
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.destinationQueueManagerName
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.queueManagerHostname
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.listenerPortNumber
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.channelName
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.securityIdentity
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.useSSL
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.SSLPeerName
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.SSLCipherSpec
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.queueManagerName
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.replyToQMgr
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.replyToQ
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.validateMaster
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.securityProfileName
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.policyUrl
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.AddRequestToGroup
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.GroupRequestFolderName
com.abs.cmnflows.RetryValidate_Exception#RetryQueue.GroupRequestTimeout
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.connection
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.destinationQueueManagerName
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.queueManagerHostname
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.listenerPortNumber
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.channelName
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.securityIdentity
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.useSSL
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.SSLPeerName
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.SSLCipherSpec
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.queueManagerName
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.replyToQMgr
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.replyToQ
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.validateMaster
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.securityProfileName
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.policyUrl
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.AddRequestToGroup
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.GroupRequestFolderName
com.abs.cmnflows.RetryValidate_Exception#Send Error to OUT.GroupRequestTimeout

com.abs.cmnflows.EncryptedExceptionSubFlow#HOSTNAME
com.abs.cmnflows.EncryptedExceptionSubFlow#STOREMSG
com.abs.cmnflows.EncryptedExceptionSubFlow#APPLICATIONNAME
com.abs.cmnflows.EncryptedExceptionSubFlow#BONAME
com.abs.cmnflows.EncryptedExceptionSubFlow#INPUTTYPE
com.abs.cmnflows.EncryptedExceptionSubFlow#INPUTNAME
com.abs.cmnflows.EncryptedExceptionSubFlow#REPLAYRULE
com.abs.cmnflows.EncryptedExceptionSubFlow#MAXREPLAYCOUNT
com.abs.cmnflows.EncryptedExceptionSubFlow#COMPONENTNAME
com.abs.cmnflows.EncryptedExceptionSubFlow#ConstructExceptionMsg.dataSource
com.abs.cmnflows.EncryptedExceptionSubFlow#ConstructExceptionMsg.connectDatasourceBeforeFlowStarts
com.abs.cmnflows.EncryptedExceptionSubFlow#ConstructExceptionMsg.validateMaster
com.abs.cmnflows.EncryptedExceptionSubFlow#Java Compute.javaClassLoader
com.abs.cmnflows.EncryptedExceptionSubFlow#Java Compute.validateMaster

com.abs.cmnflows.Audit_Validate_Output#queueName = ESEDQA.AUDIT.MSG
com.abs.cmnflows.Audit_Validate_Output#Out_Audit_Compute.dataSource
com.abs.cmnflows.Audit_Validate_Output#Out_Audit_Compute.connectDatasourceBeforeFlowStarts
com.abs.cmnflows.Audit_Validate_Output#Out_Audit_Compute.validateMaster
com.abs.cmnflows.Audit_Validate_Output#Validate.validateMaster = contentAndValue
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.connection
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.destinationQueueManagerName
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.queueManagerHostname
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.listenerPortNumber
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.channelName
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.securityIdentity
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.useSSL
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.SSLPeerName
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.SSLCipherSpec
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.queueManagerName
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.replyToQMgr
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.replyToQ
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.validateMaster
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.securityProfileName
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.policyUrl
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.AddRequestToGroup
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.GroupRequestFolderName
com.abs.cmnflows.Audit_Validate_Output#EDIS.AUDIT.MSG.GroupRequestTimeout

com.abs.cmnflows.ExceptionSubFlow#HOSTNAME = IIBQA
com.abs.cmnflows.ExceptionSubFlow#STOREMSG = Y
com.abs.cmnflows.ExceptionSubFlow#APPLICATIONNAME = {{application.name}}
com.abs.cmnflows.ExceptionSubFlow#BONAME = {{application.project}}
com.abs.cmnflows.ExceptionSubFlow#INPUTTYPE = KAFKA
com.abs.cmnflows.ExceptionSubFlow#INPUTNAME = {{kafkaConsumer.topicName}}
com.abs.cmnflows.ExceptionSubFlow#REPLAYRULE = Y
com.abs.cmnflows.ExceptionSubFlow#MAXREPLAYCOUNT = 3
com.abs.cmnflows.ExceptionSubFlow#COMPONENTNAME = {{kafkaConsumer.topicName}}
com.abs.cmnflows.ExceptionSubFlow#queueName = ESEDQA.EXCEPTION.MSG
com.abs.cmnflows.ExceptionSubFlow#ConstructExceptionMsg.dataSource
com.abs.cmnflows.ExceptionSubFlow#ConstructExceptionMsg.connectDatasourceBeforeFlowStarts
com.abs.cmnflows.ExceptionSubFlow#ConstructExceptionMsg.validateMaster
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.connection
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.destinationQueueManagerName
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.queueManagerHostname
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.listenerPortNumber
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.channelName
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.securityIdentity
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.useSSL
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.SSLPeerName
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.SSLCipherSpec
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.queueManagerName
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.replyToQMgr
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.replyToQ
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.validateMaster
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.securityProfileName
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.policyUrl
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.AddRequestToGroup
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.GroupRequestFolderName
com.abs.cmnflows.ExceptionSubFlow#SendtoErrorQueue.GroupRequestTimeout

{{application.brokerSchema}}.{{application.flow}}#additionalInstances
{{application.brokerSchema}}.{{application.flow}}#notificationThresholdMsgsPerSec
{{application.brokerSchema}}.{{application.flow}}#maximumRateMsgsPerSec
{{application.brokerSchema}}.{{application.flow}}#processingTimeoutSec
{{application.brokerSchema}}.{{application.flow}}#processingTimeoutAction
{{application.brokerSchema}}.{{application.flow}}#wlmPolicy
{{application.brokerSchema}}.{{application.flow}}#commitCount
{{application.brokerSchema}}.{{application.flow}}#commitInterval
{{application.brokerSchema}}.{{application.flow}}#coordinatedTransaction
{{application.brokerSchema}}.{{application.flow}}#consumerPolicySet
{{application.brokerSchema}}.{{application.flow}}#providerPolicySet
{{application.brokerSchema}}.{{application.flow}}#consumerPolicySetBindings
{{application.brokerSchema}}.{{application.flow}}#providerPolicySetBindings
{{application.brokerSchema}}.{{application.flow}}#securityProfileName
{{application.brokerSchema}}.{{application.flow}}#monitoringProfile
{{application.brokerSchema}}.{{application.flow}}#startMode
{{application.brokerSchema}}.{{application.flow}}#startInstancesWhenFlowStarts
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.topicName = {{kafkaConsumer.topicName}}
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.bootstrapServers = pgv013e8b.safeway.com:9093,pgv013e8d.safeway.com:9093,pgv013e8e.safeway.com:9093,pgv013e8f.safeway.com:9093,pgv013e90.safeway.com:9093,pgv013e91.safeway.com:9093
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.groupId = {{application.identifier}}_consumer_group
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.initialOffset = latest
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.enableAutoCommit = true
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.clientId = {{application.identifier}}_consumer
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.useClientIdSuffix = true
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.connectionTimeout = 15
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.sessionTimeout = 10
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.receiveBatchSize = 1
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.securityProtocol = SSL
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.sslProtocol = TLSv1.2
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.securityIdentity
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.validateMaster = none
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.componentLevel = flow
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.additionalInstances = 0
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.topicName = {{kafkaProducer.topicName}}
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.bootstrapServers = pgv013e8b.safeway.com:9093,pgv013e8d.safeway.com:9093,pgv013e8e.safeway.com:9093,pgv013e8f.safeway.com:9093,pgv013e90.safeway.com:9093,pgv013e91.safeway.com:9093
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.clientId = {{application.identifier}}_producer
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.useClientIdSuffix = true
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.acks = 1
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.timeout = 60
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.securityProtocol = SSL
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.sslProtocol = TLSv1.2
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.securityIdentity
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.validateMaster = inherit
{{application.brokerSchema}}.{{application.flow}}#{{transformer.name}}.SYSTEM_ENVIRONMENT_CODE = QA
{{application.brokerSchema}}.{{application.flow}}#{{transformer.name}}.VERSION_ID = {{application.version}}
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.HOSTNAME = IIBQA
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.STOREMSG = Y
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.APPLICATIONNAME = {{application.name}}
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.BONAME = {{application.project}}
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.INPUTTYPE = KAFKA
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.INPUTNAME = {{kafkaConsumer.topicName}}
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.REPLAYRULE = Y
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.MAXREPLAYCOUNT = 3
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.COMPONENTNAME = {{application.name}}
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.queueName = ESEDQA.EXCEPTION.MSG
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.APPLICATION_NAME = {{application.name}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.APPLICATION_DESC = Transform Json to Canonical Message and Publish to Kafka
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.BO_NAME = {{application.project}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.COMPONENT_DESC = {{application.name}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.COMPONENT_TYPE = PF
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.COMPONENT_INPUT_TYPE = KAFKA
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.SOURCE_SYSTEM_NAME = {{application.source}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.AUDIT_REQD = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.AUDIT_SRC_UNQ_ID = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.PATH_SRC_UNQ_ID = {{audit.inputMessageId}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.AUDIT_TRGT_UNQ_ID = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.PATH_TRGT_UNQ_ID = {{audit.inputMessageId}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.VALIDATION_REQD_SOURCE = N
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.VALIDATION_REQD_TARGET = N
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.STORE_SRC_MSG = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.STORE_TRGT_MSG = N
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.COMPONENT_INPUT_NAME = {{kafkaConsumer.topicName}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.queueName = ESEDQA.AUDIT.MSG
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.AUDIT_MDL_UNQ_ID = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.PATH_MDL_UNQ_ID = {{audit.inputMessageId}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.STORE_MDL_MSG = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Output.queueName = ESEDQA.AUDIT.MSG

{{application.brokerSchema}}.{{transformer.name}}#SYSTEM_ENVIRONMENT_CODE = QA
{{application.brokerSchema}}.{{transformer.name}}#VERSION_ID = {{application.version}}
{{application.brokerSchema}}.{{transformer.name}}#Compute.dataSource
{{application.brokerSchema}}.{{transformer.name}}#Compute.connectDatasourceBeforeFlowStarts
{{application.brokerSchema}}.{{transformer.name}}#Compute.validateMaster
