com.abs.cmnflows.Audit_Validate_Input#APPLICATION_NAME = {{application.name}}
com.abs.cmnflows.Audit_Validate_Input#APPLICATION_DESC = {{application.project}} for {{application.source}}
com.abs.cmnflows.Audit_Validate_Input#BO_NAME = {{application.project}}
com.abs.cmnflows.Audit_Validate_Input#COMPONENT_DESC = {{application.name}}
com.abs.cmnflows.Audit_Validate_Input#COMPONENT_TYPE = PF
com.abs.cmnflows.Audit_Validate_Input#COMPONENT_INPUT_TYPE = KAFKA
com.abs.cmnflows.Audit_Validate_Input#SOURCE_SYSTEM_NAME = {{application.source}}
com.abs.cmnflows.Audit_Validate_Input#AUDIT_REQD = Y
com.abs.cmnflows.Audit_Validate_Input#AUDIT_SRC_UNQ_ID = Y
com.abs.cmnflows.Audit_Validate_Input#PATH_SRC_UNQ_ID = CURRENT_TIMESTAMP
com.abs.cmnflows.Audit_Validate_Input#AUDIT_TRGT_UNQ_ID = Y
com.abs.cmnflows.Audit_Validate_Input#PATH_TRGT_UNQ_ID = CURRENT_TIMESTAMP
com.abs.cmnflows.Audit_Validate_Input#VALIDATION_REQD_SOURCE = N
com.abs.cmnflows.Audit_Validate_Input#VALIDATION_REQD_TARGET = N
com.abs.cmnflows.Audit_Validate_Input#STORE_SRC_MSG = Y
com.abs.cmnflows.Audit_Validate_Input#STORE_TRGT_MSG = Y
com.abs.cmnflows.Audit_Validate_Input#COMPONENT_INPUT_NAME = {{kafkaConsumer.topicName}}
com.abs.cmnflows.Audit_Validate_Input#queueName = ESEDPR.AUDIT.MSG
com.abs.cmnflows.Audit_Validate_Input#AUDIT_MDL_UNQ_ID = Y
com.abs.cmnflows.Audit_Validate_Input#PATH_MDL_UNQ_ID = CURRENT_TIMESTAMP
com.abs.cmnflows.Audit_Validate_Input#STORE_MDL_MSG = Y
com.abs.cmnflows.Audit_Validate_Input#Validate.validateMaster = contentAndValue
com.abs.cmnflows.Audit_Validate_Output#queueName = ESEDPR.AUDIT.MSG
com.abs.cmnflows.Audit_Validate_Output#Validate.validateMaster = contentAndValue
com.abs.cmnflows.ExceptionSubFlow#HOSTNAME = IIBPR
com.abs.cmnflows.ExceptionSubFlow#STOREMSG = Y
com.abs.cmnflows.ExceptionSubFlow#APPLICATIONNAME = {{application.name}}
com.abs.cmnflows.ExceptionSubFlow#BONAME = {{application.source}}
com.abs.cmnflows.ExceptionSubFlow#INPUTTYPE = KAFKA
com.abs.cmnflows.ExceptionSubFlow#INPUTNAME = {{kafkaConsumer.topicName}}
com.abs.cmnflows.ExceptionSubFlow#REPLAYRULE = Y
com.abs.cmnflows.ExceptionSubFlow#MAXREPLAYCOUNT = 3
com.abs.cmnflows.ExceptionSubFlow#COMPONENTNAME = {{kafkaConsumer.topicName}}
com.abs.cmnflows.ExceptionSubFlow#queueName = ESEDPR.EXCEPTION.MSG

{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.topicName = {{kafkaConsumer.topicName}}
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.bootstrapServers = pgv013e8b.safeway.com:9093,pgv013e8d.safeway.com:9093,pgv013e8e.safeway.com:9093,pgv013e8f.safeway.com:9093,pgv013e90.safeway.com:9093,pgv013e91.safeway.com:9093
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.groupId = {{application.identifier}}_consumer_group
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.initialOffset = latest
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.enableAutoCommit = true
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.clientId = {{application.identifier}}_consumer
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.useClientIdSuffix = true
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.connectionTimeout = 15
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.sessionTimeout = 10
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.receiveBatchSize = 1
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.securityProtocol = SSL
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.sslProtocol = TLSv1.2
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.validateMaster = none
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.componentLevel = flow
{{application.brokerSchema}}.{{application.flow}}#KafkaConsumer.additionalInstances = 0

{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.topicName = {{kafkaProducer.topicName}}
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.bootstrapServers = pgv013e8b.safeway.com:9093,pgv013e8d.safeway.com:9093,pgv013e8e.safeway.com:9093,pgv013e8f.safeway.com:9093,pgv013e90.safeway.com:9093,pgv013e91.safeway.com:9093
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.clientId = grocery_order_erums_producer
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.useClientIdSuffix = true
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.acks = 1
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.timeout = 60
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.securityProtocol = SSL
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.sslProtocol = TLSv1.2
{{application.brokerSchema}}.{{application.flow}}#KafkaProducer.validateMaster = inherit

{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.APPLICATION_NAME = {{application.name}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.APPLICATION_DESC = {{application.project}} for {{application.source}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.BO_NAME = {{application.project}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.COMPONENT_DESC = {{application.name}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.COMPONENT_TYPE = PF
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.COMPONENT_INPUT_TYPE = KAFKA
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.SOURCE_SYSTEM_NAME = {{application.source}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.AUDIT_REQD = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.AUDIT_SRC_UNQ_ID = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.PATH_SRC_UNQ_ID = CURRENT_TIMESTAMP
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.AUDIT_TRGT_UNQ_ID = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.PATH_TRGT_UNQ_ID = CURRENT_TIMESTAMP
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.VALIDATION_REQD_SOURCE = N
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.VALIDATION_REQD_TARGET = N
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.STORE_SRC_MSG = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.STORE_TRGT_MSG = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.COMPONENT_INPUT_NAME = {{kafkaConsumer.topicName}}
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.queueName = ESEDPR.AUDIT.MSG
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.AUDIT_MDL_UNQ_ID = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.PATH_MDL_UNQ_ID = CURRENT_TIMESTAMP
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Input.STORE_MDL_MSG = Y
{{application.brokerSchema}}.{{application.flow}}#Audit_Validate_Output.queueName = ESEDPR.AUDIT.MSG

{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.HOSTNAME = IIBPR
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.STOREMSG = Y
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.APPLICATIONNAME = {{application.name}}
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.BONAME = GroceryOrder
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.INPUTTYPE = KAFKA
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.INPUTNAME = {{kafkaConsumer.topicName}}
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.REPLAYRULE = Y
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.MAXREPLAYCOUNT = 3
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.COMPONENTNAME = {{application.name}}
{{application.brokerSchema}}.{{application.flow}}#ExceptionSubFlow.queueName = ESEDPR.EXCEPTION.MSG

{{application.brokerSchema}}.{{application.flow}}#{{transformer.name}}.SYSTEM_ENVIRONMENT_CODE = PR
{{application.brokerSchema}}.{{application.flow}}#{{transformer.name}}.VERSION_ID = 1.5.1.059

{{application.brokerSchema}}.{{application.flow}}#ESED_GroceryOrder_Input_Normalizer.ProtegityAppID = es00ed

{{application.brokerSchema}}.{{transformer.name}}#SYSTEM_ENVIRONMENT_CODE = PR
{{application.brokerSchema}}.{{transformer.name}}#VERSION_ID = 1.5.1.059
