
# ================ Audit_Validate_Input: {{nodeName}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.APPLICATION_NAME = {{flowName}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.APPLICATION_DESC = {{flowName}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.BO_NAME = {{name}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.COMPONENT_DESC = {{flowName}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.COMPONENT_TYPE = PF
{{brokerSchema}}.{{flowName}}#{{nodeName}}.COMPONENT_INPUT_TYPE = KAFKA
{{brokerSchema}}.{{flowName}}#{{nodeName}}.SOURCE_SYSTEM_NAME = {{source}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.AUDIT_REQD = Y
{{brokerSchema}}.{{flowName}}#{{nodeName}}.AUDIT_SRC_UNQ_ID = Y
{{brokerSchema}}.{{flowName}}#{{nodeName}}.PATH_SRC_UNQ_ID = CURRENT_TIMESTAMP
{{brokerSchema}}.{{flowName}}#{{nodeName}}.AUDIT_TRGT_UNQ_ID = Y
{{brokerSchema}}.{{flowName}}#{{nodeName}}.PATH_TRGT_UNQ_ID = CURRENT_TIMESTAMP
{{brokerSchema}}.{{flowName}}#{{nodeName}}.VALIDATION_REQD_SOURCE = N
{{brokerSchema}}.{{flowName}}#{{nodeName}}.VALIDATION_REQD_TARGET = N
{{brokerSchema}}.{{flowName}}#{{nodeName}}.STORE_SRC_MSG = Y
{{brokerSchema}}.{{flowName}}#{{nodeName}}.STORE_TRGT_MSG = Y
{{brokerSchema}}.{{flowName}}#{{nodeName}}.COMPONENT_INPUT_NAME = {{name}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.queueName = ESED{{env}}.AUDIT.MSG
{{brokerSchema}}.{{flowName}}#{{nodeName}}.AUDIT_MDL_UNQ_ID = Y
{{brokerSchema}}.{{flowName}}#{{nodeName}}.PATH_MDL_UNQ_ID = CURRENT_TIMESTAMP
{{brokerSchema}}.{{flowName}}#{{nodeName}}.STORE_MDL_MSG = Y