# ================ KafkaProducer: {{nodeName}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.topicName = {{topicName}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.bootstrapServers = {{bootstrapServers}}
{{brokerSchema}}.{{flowName}}#{{nodeName}}.clientId = edis_producer
{{brokerSchema}}.{{flowName}}#{{nodeName}}.useClientIdSuffix = true
{{brokerSchema}}.{{flowName}}#{{nodeName}}.acks = 1
{{brokerSchema}}.{{flowName}}#{{nodeName}}.timeout = 60
{{brokerSchema}}.{{flowName}}#{{nodeName}}.securityProtocol = SSL
{{brokerSchema}}.{{flowName}}#{{nodeName}}.sslProtocol = TLSv1.2
{{brokerSchema}}.{{flowName}}#{{nodeName}}.validateMaster = inherit